@page
@model IndexModel
@{
    ViewData["Title"] = "Azure Storage and ASP.NET Core";
}

<div class="card">
    <div class="card-header">Azure Blob Storage and ASP.NET Core</div>
    <div class="card-body">
        <p>Upload and download files using blob storage with delegated read and application write access</p>
    </div>
</div>

       
