@page
@model IndexModel
@{
    ViewData["Title"] = "Azure Storage and ASP.NET Core";
}


<div class="card">
    <div class="card-header">Azure Storage and ASP.NET Core</div>
    <div class="card-body">
        <p>ASP.NET Core </p>
        <p>Azure AD</p>
        <p>Azure Storage</p>
        <p>Microsoft SQL</p>

    </div>
</div>

       
