@page
@using Microsoft.AspNetCore.Authorization
@inject IAuthorizationService AuthorizationService
@model DelegatedEntraIDBlobStorage.Pages.AzStorageFilesModel
@{
    ViewData["Title"] = "Azure Storage Files";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

@if ((await AuthorizationService.AuthorizeAsync(User, "blob-one-write-policy")).Succeeded)
{
    <div class="card">
        <div class="card-header">Uploaded Files</div>
        <div class="card-body">
            <form enctype="multipart/form-data" asp-page="/AzStorageFiles" id="ajaxUploadForm" novalidate="novalidate">

                <fieldset>

                    <div class="col-xs-12" style="padding: 10px;">
                        <div class="col-xs-4">
                            <label>Description</label>
                        </div>
                        <div class="col-xs-7">
                            <textarea rows="2" placeholder="Description" class="form-control" asp-for="FileDescriptionShort.Description"></textarea>
                        </div>
                    </div>

                    <div class="col-xs-12" style="padding: 10px;">
                        <div class="col-xs-4">
                            <label>Upload</label>
                        </div>
                        <div class="col-xs-7">
                            <input type="file" asp-for="FileDescriptionShort.File" multiple>
                        </div>
                    </div>

                    <div class="col-xs-12" style="padding: 10px;">
                        <div class="col-xs-4">
                            <input type="submit" value="Upload" id="ajaxUploadButton" class="btn btn-primary col-sm-12">
                        </div>
                        <div class="col-xs-7">

                        </div>
                    </div>

                </fieldset>

            </form>
        </div>
    </div>

}
else
{
    <p>User has not contributor access role for blob storage</p>
}

