@page
@using Microsoft.AspNetCore.Authorization
@inject IAuthorizationService AuthorizationService
@model MultiClientBlobStorage.Pages.CreateClientModel
@{
    ViewData["Title"] = "Create Client";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

@if ((await AuthorizationService.AuthorizeAsync(User, "blob-admin-policy")).Succeeded)
{
    <div class="card">
        <div class="card-header">Create Blobs</div>
        <div class="card-body">
            <form enctype="multipart/form-data" asp-page="/CreateClient" id="ajaxUploadForm" novalidate="novalidate">

                <fieldset>

                    <div class="col-xs-12" style="padding: 10px;">
                        <div class="col-xs-4">
                            <label>Client Name</label>
                        </div>
                        <div class="col-xs-7">
                            <input placeholder="Name" class="form-control" asp-for="ClientName"/>
                        </div>
                    </div>

                    <div class="col-xs-12" style="padding: 10px;">
                        <div class="col-xs-4">
                            <input type="submit" value="Create" id="ajaxUploadButton" class="btn btn-primary col-sm-12">
                        </div>
                        <div class="col-xs-7">

                        </div>
                    </div>

                </fieldset>

            </form>
        </div>
    </div>

}
else
{
    <p>User has not contributor access role for blob storage</p>
}

